/doc/ export-ignore
/tests/ export-ignore
/examples/ export-ignore
/docker/ export-ignore
/.github/ export-ignore
/*.sh export-ignore
/*.xml.dist export-ignore
/*.xml export-ignore
/CHANGELOG.md export-ignore
